ion-slide {
    height: calc(100vh - 50px);
    padding-top: 40px;
}

.slice-two,
.card-two {
    height: auto;
}

ion-card {
    height: 90%;
    ion-card-content {
        width: 100%;
    }
    .ion-p {
        background-color: #d0e1ff;
        padding: 1rem;
        margin: .5rem 0;
        color: #074298;
    }
    .in-slide-one {
        --background: #f8f9f9;
        color: black;
        border-radius: 6px;
        width: 80%;
        margin-left: 10%;
    }
    .in-slide-two {}
    ion-button {
        margin-top: 2rem;
        height: 50px;
        width: 100%;
        p {
            size: 1rem;
            margin-left: .5rem;
        }
    }
}

.btn-w {
    margin: 1rem;
}

.btn-next {}

.btn-search {
    width: 80px !important;
    height: 35px !important;
    margin-bottom: 30px;
}

.btn-actualizar {
    width: 95px !important;
    height: 40px !important;
    margin-bottom: 30px;
    .icon-update {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ion-icon {
        font-size: 1.2rem !important;
    }
}

.iconRotar {
    animation: iconRotar 1s infinite linear;
}

ion-list,
ion-item {
    width: 100%;
}

@keyframes iconRotar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

app-mapa {
    width: 100%;
    height: 100%;
}