<main class="modal-background animated fadeIn" (click)="closeModal($event)">
    <div class="modal-container bounceIn">
        <ion-list color="light">
            <ion-list-header color="light">
                <ion-label class="ion-text-center alert-title">Tarea: {{ titulo }} </ion-label>
            </ion-list-header>
            <ion-item-divider>
            </ion-item-divider>
            <ion-item>
                <ion-badge color="primary" mode="ios">Númeto:</ion-badge>
                <ion-label class="ion-text-center"> {{ item.alias }} </ion-label>
            </ion-item>
            <ion-item>
                <ion-badge color="primary" mode="ios">Barrio:</ion-badge>
                <ion-label class="ion-text-center"> {{ item.barrio }} </ion-label>
            </ion-item>
            <ion-item>
                <ion-badge color="primary" mode="ios">Tarifa:</ion-badge>
                <ion-label class="ion-text-center"> {{ item.tarifa | tarifa }} </ion-label>
            </ion-item>
            <ion-item class="item-btn">
                <div class="item-btn">
                    <ion-button class="btn-modal" *ngIf="!item.hecho" color="secondary" (click)="tareaHecha(item)">
                        <ion-icon name="pin" color="dark"></ion-icon>
                        <ion-label color="dark">Tarea realizada</ion-label>
                        <ion-icon color="dark" name="checkmark-outline"></ion-icon>
                    </ion-button>
                    <ion-button class="btn-modal" *ngIf="item.hecho" color="danger" (click)="tareaHecha(item)">
                        <ion-icon name="pin" color="primary"></ion-icon>
                        <ion-label>Tarea pendiente</ion-label>
                        <ion-icon name="close"></ion-icon>
                    </ion-button>
                </div>
            </ion-item>
            <ion-footer>
                <ion-toolbar>
                    <ion-buttons>
                        <ion-fab-button *ngIf="isMobileIphone()" slot="start" (click)="comoLlegar(item, 'apple')">
                            <img src="assets/img/apple-map.png">
                        </ion-fab-button>
                        <ion-fab-button slot="start" (click)="comoLlegar(item, 'waze')">
                            <img src="assets/img/waze-map.png">
                        </ion-fab-button>
                        <ion-fab-button slot="end" (click)="comoLlegar(item, 'google')">
                            <img src="assets/img/google-maps-fab.png">
                        </ion-fab-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-footer>
        </ion-list>

    </div>

</main>