<ion-modal #modal [isOpen]="modalOpen" [initialBreakpoint]="0.50" [breakpoints]="[0, 0.25, 0.5, 0.75]" (ionModalDidDismiss)="ionModalDidDismiss($event)">
    <ng-template>
        <ion-content>
            <div class="contenedor" [ngSwitch]="pageActive">

                <div *ngSwitchCase="'home'" class="alert alert-info" role="alert">
                    <h3>Instrucciones</h3>
                    <p>Esta herramienta es un buscador de parquímetros.</p>
                    <p>Selecciona un barrio y los últimos número del parquímetro que quieras buscar y pulsa el boton verde.</p>
                    <p>Una vez mostrado la posición del parquímetro en el mapa, podrás abrir la app de google maps para mostrarte el camino pulsando el botón azul que aparece abajo a la izquierda</p>
                    <div class="redes">
                        <div class="whatsapp">
                            <a href="whatsapp://send?text=https://daviferm.github.io/appDevas" target="blank">
                                <i class="fab fa-whatsapp-square"></i>
                            </a>
                        </div>
                        <div class="twitter">
                            <a href="https://twitter.com/intent/tweet?url=https://daviferm.github.io/appDevas&amp;text=Control de mantenimiento." target="blank">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </div>
                        <div class="facebook">
                            <a href="https://facebook.com/sharer/sharer.php?u=https://daviferm.github.io/appDevas" target="_blank">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'mant-barrios'" class="alert alert-info" role="alert">
                    <h3>Instrucciones</h3>
                    <p>Esta herramienta surge de la necesidad de llevar un control del mantenimiento por barrios.</p>
                    <p>Para comenzar selecciona un barrio en el formularo de arriba. Pulsando el boton</p>
                    <button class="btnAdd" mat-mini-fab color="primary">
                  <i class="material-icons">add</i>
               </button>
                    <p>y añadiendo el nombre del la tarea a realizar se creará un nuevo mapa con los parquímetros del barrio seleccionado.</p>
                    <p>Pulsando sobre el nuevo mapa creado se mostrarán todos los parquímetros del barrio en un mapa, donde podras llevar un control del mantenimiento realizado.</p>
                    <p>Los parquímetros que marques como tarea realizada aparecerán mas claros.</p>
                    <div class="redes">
                        <div class="whatsapp">
                            <a href="whatsapp://send?text=https://daviferm.github.io/appDevas" target="blank">
                                <i class="fab fa-whatsapp-square"></i>
                            </a>
                        </div>
                        <div class="twitter">
                            <a href="https://twitter.com/intent/tweet?url=https://daviferm.github.io/appDevas&amp;text=Control de mantenimiento." target="blank">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </div>
                        <div class="facebook">
                            <a href="https://facebook.com/sharer/sharer.php?u=https://daviferm.github.io/appDevas" target="_blank">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'listas'" class="alert alert-info" role="alert">
                    <h3>Instrucciones</h3>
                    <p>Esta herramienta surge de la necesidad de hacer una misma tarea de mantenimiento a varios parquímetros de distintos barrios.</p>
                    <p>Para comenzar pulsa el botón</p>
                    <button class="btnAdd lgtb" mat-fab color="primary">
                  <i class="material-icons">add</i>
              </button>
                    <p>para añadir el nombre de la tarea a realizar.</p>
                    <p>A continuación podrás ir añadiendo parquímetros a la tarea creada y ver la posición de cada uno en el mapa, e ir eliminando los que vayas haciendo.</p>
                    <div class="redes">
                        <div class="whatsapp">
                            <a href="whatsapp://send?text=https://daviferm.github.io/appDevas" target="blank">
                                <i class="fab fa-whatsapp-square"></i>
                            </a>
                        </div>
                        <div class="twitter">
                            <a href="https://twitter.com/intent/tweet?url=https://daviferm.github.io/appDevas&amp;text=Control de mantenimiento." target="blank">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </div>
                        <div class="facebook">
                            <a href="https://facebook.com/sharer/sharer.php?u=https://daviferm.github.io/appDevas" target="_blank">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'incidencias'" class="alert alert-info" role="alert">
                    <h3>Instrucciones</h3>
                    <p>Esta herramienta surge de la necesidad de llevar un control de incidencias que vayas observando en diferentes parquímetros, donde no comparten el tipo de incidencia ni el barrio, y que tengas que dejar para otra ocasión</p>
                    <p>Las incidencias que vayas haciendo no se eliminaran, si no que a pareceran en el link de
                        <span class="badge badge-secondary">COMPLETADOS</span>
                    </p>
                    <div class="redes">
                        <div class="whatsapp">
                            <a href="whatsapp://send?text=https://daviferm.github.io/appDevas" target="blank">
                                <i class="fab fa-whatsapp-square"></i>
                            </a>
                        </div>
                        <div class="twitter">
                            <a href="https://twitter.com/intent/tweet?url=https://daviferm.github.io/appDevas&amp;text=Control de mantenimiento." target="blank">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </div>
                        <div class="facebook">
                            <a href="https://facebook.com/sharer/sharer.php?u=https://daviferm.github.io/appDevas" target="_blank">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="'share'" class="alert alert-info" role="alert">
                    <h3>Instrucciones</h3>
                    <p>Esta herramienta surge de la necesidad de crear tareas compartidas.</p>
                    <p>Las lista creadas podrán ser vistas desde cualquier dispositivo por cualquier usuario</p>
                    <p>Para comenzar pulsa el botón</p>
                    <button class="btnAdd" mat-fab color="primary">
                  <i class="material-icons">add</i>
              </button>
                    <p>para añadir el nombre de la tarea a realizar.</p>
                    <p>A continuación podrás ir añadiendo parquímetros a la tarea creada y ver la posición de cada uno en el mapa, e ir eliminando los que vayas haciendo.</p>
                    <div class="redes">
                        <div class="whatsapp">
                            <a href="whatsapp://send?text=https://daviferm.github.io/appDevas" target="blank">
                                <i class="fab fa-whatsapp-square"></i>
                            </a>
                        </div>
                        <div class="twitter">
                            <a href="https://twitter.com/intent/tweet?url=https://daviferm.github.io/appDevas&amp;text=Control de mantenimiento." target="blank">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                        </div>
                        <div class="facebook">
                            <a href="https://facebook.com/sharer/sharer.php?u=https://daviferm.github.io/appDevas" target="_blank">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
    </ng-template>
</ion-modal>