<div #myHeader class="cabecera">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <div class="main-form">
            <div class="barrios-btn">
                <ion-button class="btn btn-select" (click)="showPicker()">
                    <span> {{ selectBarrio }} </span>
                    <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
                </ion-button>
                <ion-button size="small" class="btn-search" (click)="crearMapaBarrio()">
                    <ion-icon name="search" color="light"></ion-icon>
                </ion-button>
            </div>
        </div>
    </ion-buttons>
</div>